
#loading-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.2s;
    z-index: 1000; /* Set a high z-index to ensure it's on top */
}
#loading-container .centered
{
    padding: 10px;

}
#loading-container .centered .loading
{
    width: 100%;
    padding: 10px;
    justify-content: center;
    display: flex;
}
#loading-container .centered .loading div
{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border-right: solid 10px rgba(255, 255, 255, 0.68);
    border-bottom: solid 10px #ed222a;
    border-left: solid 10px #ed222a;
    border-top: solid 10px #ed222a;

    animation: sp 1.5s infinite;
}

#loading-container .centered p
{
    font-size: 20px;
    text-align: center;
    color: #06498a;
    padding-top: 20px;
}

@keyframes sp {
    from {
        transform: rotate(0);
    }
    to
    {
        transform: rotate(360deg);
    }
}
